src/schema/emblem/emblem-1-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Emblem Schema 1.3 (April 2017)

* updated TEI P5 to v3.1.0 to allow transcriptions with lines and line groups (e.g. E033826)
* allow for emblems without a motto (e.g. E018790)

-->
<!-- proposed edits, Tim Cole and MJ Han (Univ of Illinois at UC), 22 April 2010 -->
<!-- Mit XMLSpy v2007 sp1 bearbeitet (http://www.altova.com) von stäcker (Herzog August Bibliothek) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by staecker (Herzog August Bibliothek) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns="http://diglib.hab.de/rules/schema/emblem"
	xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:tei="http://www.tei-c.org/ns/1.0"
	xmlns:mods="http://www.loc.gov/mods/v3" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://diglib.hab.de/rules/schema/emblem" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:import namespace="http://www.tei-c.org/ns/1.0" schemaLocation="tei/tei_all_v3.1.0.xsd"/>
	<xs:import namespace="http://www.loc.gov/mods/v3" schemaLocation="mods-3-4.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		schemaLocation="rdf-dummy.xsd"/>
	<xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="skos-dummy.xsd"/>
	<!-- added ts/2011-02-17	-->
	<!--<xs:import namespace="http://www.loc.gov/mods/v3" schemaLocation="http://www.loc.gov/standards/mets/xlink.xsd"/>-->
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
	<xs:element name="corpus">
		<xs:annotation>
			<xs:documentation>container for more than one emblem book or inventory</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="biblioDesc" maxOccurs="unbounded"/>
				<xs:element ref="inventory" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="biblioDesc">
		<xs:annotation>
			<xs:documentation>container for the bibliographic description; corresponds to "Bibliographic Summary" (GT No 5); B.1 work identifier in workID-attribut </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="tei:teiHeader" minOccurs="0"/>
					<xs:element ref="mods:mods" minOccurs="0"/>
				</xs:choice>
				<!-- modified by twc/mjh 30 April 2010 -->
				<xs:element ref="copyDesc" maxOccurs="unbounded"/>
				<xs:element ref="liminaryText" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="sectionTitle" minOccurs="0"/>
					<xs:element ref="emblem" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="workID" type="xs:string" use="optional"/>
			<xs:attribute name="globalBookID" type="xs:anyURI" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="inventory">
		<xs:annotation>
			<xs:documentation>mandatory if no bibliographic container is available</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="place" minOccurs="0"/>
				<xs:element ref="date" minOccurs="0"/>
				<xs:element ref="owner" minOccurs="0"/>
				<xs:element ref="rightsDesc" minOccurs="0"/>
				<xs:element ref="emblem" maxOccurs="unbounded"/>
				<xs:element ref="digDesc" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sectionTitle">
		<xs:annotation>
			<xs:documentation> E.9 and E. 10</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="emblemParts">
					<xs:choice>
						<xs:element ref="emblem"/>
						<xs:element ref="sectionTitle"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:annotation>
			<xs:documentation>B.8,  B.14, E. 7 normalized or standardized, function in attribute, e.g. author</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stringWithAttrib">
					<xs:attribute name="function" type="xs:token" default="author"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:annotation>
			<xs:documentation>B.9; title in full transcription. Short title info in attribute</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stringWithAttrib">
					<xs:attribute name="shorttitle" type="xs:boolean" default="true"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="place" type="stringWithAttrib">
		<xs:annotation>
			<xs:documentation>B.10 place of publication</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publisher" type="stringWithAttrib">
		<xs:annotation>
			<xs:documentation>B.11 publisher or printer</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="date" type="xs:date">
		<xs:annotation>
			<xs:documentation>B.12 date of publication</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="keyword">
		<xs:annotation>
			<xs:documentation> any normalized or standardized keyword (preferably in English); E.11.D.;E.12.D.;E.13.D.; E.22.B.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stringWithAttrib">
					<xs:attribute name="type" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="copyDesc">
		<xs:annotation>
			<xs:documentation>B.5 copy description; mandatory, in order to be able to identify the owner unambigously</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="copyID"/>
				<xs:element ref="owner"/>
				<xs:element ref="digDesc" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="globalID" type="xs:anyURI" use="optional"/>
			<xs:attribute ref="xlink:href"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="digDesc">
		<xs:annotation>
			<xs:documentation>B.2 Digitization details; use attribute scope to indicate if all or parts of a book are digitized, comp to indicate if parts (eg.engravings) are completely digitized </xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="stringWithAttrib">
					<xs:sequence>
						<xs:element ref="copyID" minOccurs="0"/>
						<xs:element ref="owner" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="scope" type="digCodeBook"/>
					<xs:attribute name="comp" type="digCodeDigit"/>
					<xs:attribute name="globalID" type="xs:anyURI" use="optional"/>
					<xs:attribute name="pageImages" type="xs:anyURI" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rightsDesc" type="stringWithAttrib">
		<xs:annotation>
			<xs:documentation>B.18 Rights statement</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="note">
		<xs:annotation>
			<xs:documentation> B15 any description; use also for E.16 and 17; E.17.A.; E.17.B.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stringWithAttrib">
					<xs:attribute name="statedInOrigninal"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="reference">
		<xs:annotation>
			<xs:documentation> B.16 Secondary references to the work; standardized references made explicitly in the original edition to outside sources other than source (E.14) and editorially (E.15); indicate type of reference</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stringWithAttrib">
					<xs:attribute name="statedInOrigninal"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="liminaryText" type="stringWithAttrib">
		<xs:annotation>
			<xs:documentation> B.17 Liminary texts (transcript)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="owner">
		<xs:annotation>
			<xs:documentation>cf.B.6 country and institution code as attribute; today owner of the copy </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stringWithAttrib">
					<xs:attribute name="countryCode" type="countryCode" use="required"/>
					<xs:attribute name="institutionCode" type="institutionCode"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="copyID" type="stringWithAttrib">
		<xs:annotation>
			<xs:documentation>cf. B.5 shelfmark or other ID for the copy; if no ID is provided use the URL of the book or first page of the book</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="emblem">
		<xs:annotation>
			<xs:documentation>Emblem consists of motto, pictura,subscriptio and somtimes commentatio; it may be connected to a digital image by a xlink:href-attribute (E.2);ID-attribute should be used for E.1; use citeNo-attribute for E.4, standNo-attribute for E.5; if parts of the emblem are found on different pages use  xlink:href-attribute in motto, pictura, subscriptio, etc. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="motto" maxOccurs="unbounded" minOccurs="0">
					<xs:annotation>
						<xs:documentation>motto(es) in original languages and spelling, cf. E.11A-C </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="emblemParts">
								<!-- added by twc/mjh 22 April 2010 -->
								<xs:attribute name="globalID" type="xs:anyURI" use="optional"/>
								<xs:attribute name="src" type="xs:anyURI"/>
								<xs:attribute name="page" type="xs:token"/>
								<xs:attribute name="citeNo" type="xs:token"/>
								<xs:attribute name="standNo" type="xs:token"/>
								<xs:attribute ref="xml:id" use="optional"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element ref="pictura" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="subscriptio" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="emblemParts">
								<xs:sequence>
									<xs:element name="metreOrig" type="xs:token" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Metre stated in the original (E 12G)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="metreEdit" type="xs:token" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Metre editorially stated  (E 12H)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<!-- added by ts 2011-02-17 -->
								<xs:attribute ref="xml:id" use="optional"/>
								<xs:attribute ref="xml:lang" use="optional"/>
								<xs:attribute ref="xlink:href" use="optional"/>
								<!-- added by twc/mjh 22 April 2010 -->
								<xs:attribute name="globalID" type="xs:anyURI" use="optional"/>
								<xs:attribute name="src" type="xs:anyURI"/>
								<xs:attribute name="page" type="xs:token"/>
								<xs:attribute name="citeNo" type="xs:token"/>
								<xs:attribute name="standNo" type="xs:token"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="commentatio" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="emblemParts">
								<xs:attribute name="id" type="xs:ID" use="optional"/>
								<!-- added by twc/mjh 22 April 2010 -->
								<xs:attribute name="globalID" type="xs:anyURI" use="optional"/>
								<xs:attribute name="src" type="xs:anyURI"/>
								<xs:attribute name="page" type="xs:token"/>
								<xs:attribute name="citeNo" type="xs:token"/>
								<xs:attribute name="standNo" type="xs:token"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="dedication" type="stringWithAttrib" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>E.6 Dedication of individual emblem </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="name" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="relationships" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="topic" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="motiv" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="theme" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="emblemPartsGroup" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="motto" maxOccurs="unbounded" minOccurs="0">
								<xs:annotation>
									<xs:documentation>motto(es) in original languages and spelling, cf. E.11A-C </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="emblemParts">
											<xs:attribute name="id" type="xs:ID" use="optional"/>
											<!-- added by twc/mjh 22 April 2010 -->
											<xs:attribute name="globalID" type="xs:anyURI"
												use="optional"/>
											<xs:attribute name="src" type="xs:anyURI"/>
											<xs:attribute name="page" type="xs:token"/>
											<xs:attribute name="citeNo" type="xs:token"/>
											<xs:attribute name="standNo" type="xs:token"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element ref="pictura" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="subscriptio" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="emblemParts">
											<xs:sequence>
												<xs:element name="metreOrig" type="xs:token"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation>Metre stated in the original (E 12G)</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="metreEdit" type="xs:token"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation>Metre editorially stated  (E 12H)</xs:documentation>
												</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:ID"/>
											<!-- added by twc/mjh 22 April 2010 -->
											<xs:attribute name="globalID" type="xs:anyURI"
												use="optional"/>
											<xs:attribute name="src" type="xs:anyURI"/>
											<xs:attribute name="page" type="xs:token"/>
											<xs:attribute name="citeNo" type="xs:token"/>
											<xs:attribute name="standNo" type="xs:token"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="commentatio" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="emblemParts">
											<xs:attribute name="id" type="xs:ID" use="optional"/>
											<!-- added by twc/mjh 22 April 2010 -->
											<xs:attribute name="globalID" type="xs:anyURI"
												use="optional"/>
											<xs:attribute name="src" type="xs:anyURI"/>
											<xs:attribute name="page" type="xs:token"/>
											<xs:attribute name="citeNo" type="xs:token"/>
											<xs:attribute name="standNo" type="xs:token"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="dedication" type="stringWithAttrib" minOccurs="0"
								maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>E.6 Dedication of individual emblem </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="name" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="relationships" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="topic" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="motiv" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="theme" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<!-- added by ts 2011-02-17 -->
			<xs:attribute ref="xml:id" use="optional"/>
			<!--<xs:attribute name="id" type="xs:ID" use="optional"/>-->
			<!-- added by twc/mjh 22 April 2010 -->
			<xs:attribute name="globalID" type="xs:anyURI" use="optional"/>
			<xs:attribute name="src" type="xs:anyURI"/>
			<xs:attribute name="citeNo" type="xs:token"/>
			<xs:attribute name="standNo" type="xs:token"/>
			<xs:attribute ref="xlink:href" use="optional"/>
			<xs:attribute name="page"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="emblemparts">
		<xs:annotation>
			<xs:documentation> Parts of an Emblem such as motto, pictura, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="motto" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>motto(es) in original languages and spelling, cf. E.11A-C </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="emblemParts">
							<xs:attribute name="id" type="xs:ID" use="optional"/>
							<!-- added by twc/mjh 22 April 2010 -->
							<xs:attribute name="globalID" type="xs:anyURI" use="optional"/>
							<xs:attribute name="src" type="xs:anyURI"/>
							<xs:attribute name="page" type="xs:token"/>
							<xs:attribute name="citeNo" type="xs:token"/>
							<xs:attribute name="standNo" type="xs:token"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="pictura" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subscriptio" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="emblemParts">
							<xs:sequence>
								<xs:element name="metreOrig" type="xs:token" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Metre stated in the original (E 12G)</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="metreEdit" type="xs:token" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Metre editorially stated  (E 12H)</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="id" type="xs:ID"/>
							<!-- added by twc/mjh 22 April 2010 -->
							<xs:attribute name="globalID" type="xs:anyURI" use="optional"/>
							<xs:attribute name="src" type="xs:anyURI"/>
							<xs:attribute name="page" type="xs:token"/>
							<xs:attribute name="citeNo" type="xs:token"/>
							<xs:attribute name="standNo" type="xs:token"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="commentatio" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="emblemParts">
							<xs:attribute name="id" type="xs:ID" use="optional"/>
							<!-- added by twc/mjh 22 April 2010 -->
							<xs:attribute name="globalID" type="xs:anyURI" use="optional"/>
							<xs:attribute name="src" type="xs:anyURI"/>
							<xs:attribute name="page" type="xs:token"/>
							<xs:attribute name="citeNo" type="xs:token"/>
							<xs:attribute name="standNo" type="xs:token"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dedication" type="stringWithAttrib" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>E.6 Dedication of individual emblem </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="name" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="relationships" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="topic" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="motiv" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="theme" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="iconclass">
		<xs:annotation>
			<xs:documentation> E.22.A. Iconclass notation; use skos:notation to accomodate the IC notation; an additional rdf:about attribute ist mandatory; use additional keyword elements to deliver IC keywords, using the xml:lang attribute for keywords is highly recommended </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="skos:notation"/>
				<xs:element ref="skos:prefLabel" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="keyword" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="rdf:about"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="pictura">
		<xs:annotation>
			<xs:documentation>Medium of pictura (E.8) in medium-attribute</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="figDesc" type="stringWithAttrib" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Prose description of prictura</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="iconclass" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="name" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<!-- added by twc/mjh 22 April 2010 -->
			<xs:attribute name="globalID" type="xs:anyURI" use="optional"/>
			<xs:attribute name="citeNo" type="xs:token"/>
			<xs:attribute name="standNo" type="xs:token"/>
			<xs:attribute name="medium" type="medPictura"/>
			<xs:attributeGroup ref="standardAttrib"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="relationships">
		<xs:annotation>
			<xs:documentation>E.16.; indicate referenced emblems by emblemRef attribute</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stringWithAttrib">
					<xs:attribute name="emblemRef" type="xs:IDREFS"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="source">
		<xs:annotation>
			<xs:documentation>References to sources e.g. Biblical; indicate in attribute if in the original stated; E.11.E.; E.11.F etc.; use type-Attribute to indicate if biblical, classical or other</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stringWithAttrib">
					<xs:attribute name="statedInOrigninal"/>
					<xs:attribute name="type"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="theme" type="stringWithAttrib">
		<xs:annotation>
			<xs:documentation>E.21</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="topic">
		<xs:annotation>
			<xs:documentation>E.20</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stringWithAttrib"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="motiv">
		<xs:annotation>
			<xs:documentation>E.18.; E.19.A. indicate whether pictorial or textual in attribute</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stringWithAttrib">
					<xs:attribute name="type">
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<xs:enumeration value="textual"/>
								<xs:enumeration value="pictorial"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="pb">
		<xs:annotation>
			<xs:documentation>E.3;  pagebreak according to TEI</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute ref="xlink:href"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="lb">
		<xs:annotation>
			<xs:documentation>Line break according to TEI</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="n" type="xs:token"/>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="lang" type="xs:language">
		<xs:annotation>
			<xs:documentation> B.13 according to ISO 639-1, use with elements; language my also be indicated by xml:lang </xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="key" type="xs:token">
		<xs:annotation>
			<xs:documentation> any kind of normalized key or expression</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="statedInOrigninal" type="xs:boolean">
		<xs:annotation>
			<xs:documentation> indicating if content is stated in original</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="page" type="xs:token">
		<xs:annotation>
			<xs:documentation> indicate page in arabic figures or folio with r (recto) or v (verso), e.g. 9v</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="id" type="xs:ID">
		<xs:annotation>
			<xs:documentation> any kind of identification number</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:simpleType name="institutionCode">
		<xs:annotation>
			<xs:documentation> unique library code e.g. HAB for Herzog August Bibliothek or UIUC for University of Illinois  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="hab"/>
			<xs:enumeration value="uiuc"/>
			<xs:enumeration value="gul"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordType">
		<xs:annotation>
			<xs:documentation> indicate kind of keyword</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="pictorial"/>
			<xs:enumeration value="textual"/>
			<xs:enumeration value="topic"/>
			<xs:enumeration value="theme"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryCode">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="AF"/>
			<xs:enumeration value="AX"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="DZ"/>
			<xs:enumeration value="AS"/>
			<xs:enumeration value="AD"/>
			<xs:enumeration value="AO"/>
			<xs:enumeration value="AI"/>
			<xs:enumeration value="AQ"/>
			<xs:enumeration value="AG"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="AM"/>
			<xs:enumeration value="AW"/>
			<xs:enumeration value="AU"/>
			<xs:enumeration value="AT"/>
			<xs:enumeration value="AZ"/>
			<xs:enumeration value="BS"/>
			<xs:enumeration value="BH"/>
			<xs:enumeration value="BD"/>
			<xs:enumeration value="BB"/>
			<xs:enumeration value="BY"/>
			<xs:enumeration value="BE"/>
			<xs:enumeration value="BZ"/>
			<xs:enumeration value="BJ"/>
			<xs:enumeration value="BM"/>
			<xs:enumeration value="BT"/>
			<xs:enumeration value="BO"/>
			<xs:enumeration value="BA"/>
			<xs:enumeration value="BW"/>
			<xs:enumeration value="BV"/>
			<xs:enumeration value="BR"/>
			<xs:enumeration value="IO"/>
			<xs:enumeration value="BN"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="BF"/>
			<xs:enumeration value="BI"/>
			<xs:enumeration value="KH"/>
			<xs:enumeration value="CM"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CV"/>
			<xs:enumeration value="KY"/>
			<xs:enumeration value="CF"/>
			<xs:enumeration value="TD"/>
			<xs:enumeration value="CL"/>
			<xs:enumeration value="CN"/>
			<xs:enumeration value="CX"/>
			<xs:enumeration value="CC"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="KM"/>
			<xs:enumeration value="CG"/>
			<xs:enumeration value="CD"/>
			<xs:enumeration value="CK"/>
			<xs:enumeration value="CR"/>
			<xs:enumeration value="CI"/>
			<xs:enumeration value="HR"/>
			<xs:enumeration value="CU"/>
			<xs:enumeration value="CY"/>
			<xs:enumeration value="CZ"/>
			<xs:enumeration value="DK"/>
			<xs:enumeration value="DJ"/>
			<xs:enumeration value="DM"/>
			<xs:enumeration value="DO"/>
			<xs:enumeration value="EC"/>
			<xs:enumeration value="EG"/>
			<xs:enumeration value="SV"/>
			<xs:enumeration value="GQ"/>
			<xs:enumeration value="ER"/>
			<xs:enumeration value="EE"/>
			<xs:enumeration value="ET"/>
			<xs:enumeration value="FK"/>
			<xs:enumeration value="FO"/>
			<xs:enumeration value="FJ"/>
			<xs:enumeration value="FI"/>
			<xs:enumeration value="FR"/>
			<xs:enumeration value="GF"/>
			<xs:enumeration value="PF"/>
			<xs:enumeration value="TF"/>
			<xs:enumeration value="GA"/>
			<xs:enumeration value="GM"/>
			<xs:enumeration value="GE"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="GH"/>
			<xs:enumeration value="GI"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="GL"/>
			<xs:enumeration value="GD"/>
			<xs:enumeration value="GP"/>
			<xs:enumeration value="GU"/>
			<xs:enumeration value="GT"/>
			<xs:enumeration value="GN"/>
			<xs:enumeration value="GW"/>
			<xs:enumeration value="GY"/>
			<xs:enumeration value="HT"/>
			<xs:enumeration value="HM"/>
			<xs:enumeration value="VA"/>
			<xs:enumeration value="HN"/>
			<xs:enumeration value="HK"/>
			<xs:enumeration value="HU"/>
			<xs:enumeration value="IS"/>
			<xs:enumeration value="IN"/>
			<xs:enumeration value="ID"/>
			<xs:enumeration value="IR"/>
			<xs:enumeration value="IQ"/>
			<xs:enumeration value="IE"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IT"/>
			<xs:enumeration value="JM"/>
			<xs:enumeration value="JP"/>
			<xs:enumeration value="JO"/>
			<xs:enumeration value="KZ"/>
			<xs:enumeration value="KE"/>
			<xs:enumeration value="KI"/>
			<xs:enumeration value="KP"/>
			<xs:enumeration value="KR"/>
			<xs:enumeration value="KW"/>
			<xs:enumeration value="KG"/>
			<xs:enumeration value="LA"/>
			<xs:enumeration value="LV"/>
			<xs:enumeration value="LB"/>
			<xs:enumeration value="LS"/>
			<xs:enumeration value="LR"/>
			<xs:enumeration value="LY"/>
			<xs:enumeration value="LI"/>
			<xs:enumeration value="LT"/>
			<xs:enumeration value="LU"/>
			<xs:enumeration value="MO"/>
			<xs:enumeration value="MK"/>
			<xs:enumeration value="MG"/>
			<xs:enumeration value="MW"/>
			<xs:enumeration value="MY"/>
			<xs:enumeration value="MV"/>
			<xs:enumeration value="ML"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="MH"/>
			<xs:enumeration value="MQ"/>
			<xs:enumeration value="MR"/>
			<xs:enumeration value="MU"/>
			<xs:enumeration value="YT"/>
			<xs:enumeration value="MX"/>
			<xs:enumeration value="FM"/>
			<xs:enumeration value="MD"/>
			<xs:enumeration value="MC"/>
			<xs:enumeration value="MN"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MZ"/>
			<xs:enumeration value="MM"/>
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NR"/>
			<xs:enumeration value="NP"/>
			<xs:enumeration value="NL"/>
			<xs:enumeration value="AN"/>
			<xs:enumeration value="NC"/>
			<xs:enumeration value="NZ"/>
			<xs:enumeration value="NI"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="NG"/>
			<xs:enumeration value="NU"/>
			<xs:enumeration value="NF"/>
			<xs:enumeration value="MP"/>
			<xs:enumeration value="NO"/>
			<xs:enumeration value="OM"/>
			<xs:enumeration value="PK"/>
			<xs:enumeration value="PW"/>
			<xs:enumeration value="PS"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="PG"/>
			<xs:enumeration value="PY"/>
			<xs:enumeration value="PE"/>
			<xs:enumeration value="PH"/>
			<xs:enumeration value="PN"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="PT"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="QA"/>
			<xs:enumeration value="RE"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="RU"/>
			<xs:enumeration value="RW"/>
			<xs:enumeration value="SH"/>
			<xs:enumeration value="KN"/>
			<xs:enumeration value="LC"/>
			<xs:enumeration value="PM"/>
			<xs:enumeration value="VC"/>
			<xs:enumeration value="WS"/>
			<xs:enumeration value="SM"/>
			<xs:enumeration value="ST"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SN"/>
			<xs:enumeration value="CS"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SL"/>
			<xs:enumeration value="SG"/>
			<xs:enumeration value="SK"/>
			<xs:enumeration value="SI"/>
			<xs:enumeration value="SB"/>
			<xs:enumeration value="SO"/>
			<xs:enumeration value="ZA"/>
			<xs:enumeration value="GS"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="LK"/>
			<xs:enumeration value="SD"/>
			<xs:enumeration value="SR"/>
			<xs:enumeration value="SJ"/>
			<xs:enumeration value="SZ"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="CH"/>
			<xs:enumeration value="SY"/>
			<xs:enumeration value="TW"/>
			<xs:enumeration value="TJ"/>
			<xs:enumeration value="TZ"/>
			<xs:enumeration value="TH"/>
			<xs:enumeration value="TL"/>
			<xs:enumeration value="TG"/>
			<xs:enumeration value="TK"/>
			<xs:enumeration value="TO"/>
			<xs:enumeration value="TT"/>
			<xs:enumeration value="TN"/>
			<xs:enumeration value="TR"/>
			<xs:enumeration value="TM"/>
			<xs:enumeration value="TC"/>
			<xs:enumeration value="TV"/>
			<xs:enumeration value="UG"/>
			<xs:enumeration value="UA"/>
			<xs:enumeration value="AE"/>
			<xs:enumeration value="GB"/>
			<xs:enumeration value="US"/>
			<xs:enumeration value="UM"/>
			<xs:enumeration value="UY"/>
			<xs:enumeration value="UZ"/>
			<xs:enumeration value="VU"/>
			<xs:enumeration value="VE"/>
			<xs:enumeration value="VN"/>
			<xs:enumeration value="VG"/>
			<xs:enumeration value="VI"/>
			<xs:enumeration value="WF"/>
			<xs:enumeration value="EH"/>
			<xs:enumeration value="YE"/>
			<xs:enumeration value="ZM"/>
			<xs:enumeration value="ZW"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digCodeBook">
		<xs:annotation>
			<xs:documentation>Type for digitization details B.2; either all of the book or part(s)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="all"/>
			<xs:enumeration value="parts"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digCodeDigit">
		<xs:annotation>
			<xs:documentation>Type for digitization details B.3; either complete or incomplete in relation to digCodeBook</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="complete"/>
			<xs:enumeration value="incomplete"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pageType">
		<xs:annotation>
			<xs:documentation>  Type of page,  either physical (image-No) or logical (No. printed on that page)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="physical"/>
			<xs:enumeration value="logical"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="medPictura">
		<xs:annotation>
			<xs:documentation> Type for medium of pictura</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="woodcut"/>
			<xs:enumeration value="engraving"/>
			<xs:enumeration value="etching"/>
			<xs:enumeration value="drawing"/>
			<xs:enumeration value="painting"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="emblemParts">
		<xs:annotation>
			<xs:documentation>Type for motto, subscriptio, commentatio; it is recommendable to always apply  xml:lang in order to indicate the language used</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transcription" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>E.11.A.; E.12.A.; E.13.A.; use attribute quotation to indicate whether the text is presented as a quotation and attribute style to indicate  prose or verse</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
					<xs:complexContent mixed="true">
						<xs:extension base="stringWithAttrib">
							<xs:sequence>
								<xs:element name="normalisation" minOccurs="0">
									<xs:annotation>
										<xs:documentation>E.11.B.; E.12.B.;E.13.B. </xs:documentation>
									</xs:annotation>
									<xs:complexType mixed="true">
										<xs:complexContent mixed="true">
											<xs:extension base="stringWithAttrib">
												<xs:sequence>
												<xs:element ref="keyword" maxOccurs="unbounded"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation>Additional keyword can be added to capture the meaning of the phrase and enhance searchability</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="quotation" type="xs:boolean"/>
							<xs:attribute name="style">
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:enumeration value="prose"/>
										<xs:enumeration value="verse"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="translation" type="stringWithAttrib" minOccurs="0">
				<xs:annotation>
					<xs:documentation>E.11.C.; E.12.C; E.13.C</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="name" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="metre" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>E.12.G.; E.12.H.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:token">
							<xs:attribute name="statedInOrigninal"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="derivation" type="stringWithAttrib" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>E.16.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="relationships" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="motiv" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="topic" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="theme" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="stringWithAttrib" mixed="true">
		<xs:annotation>
			<xs:documentation>Type with id, xml:lang and key</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tei:p" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="standardAttrib"/>
	</xs:complexType>
	<xs:attributeGroup name="standardAttrib">
		<xs:annotation>
			<xs:documentation> xml:id, xlink:href, xml:lang,key</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xml:id"/>
		<xs:attribute ref="xlink:href"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute ref="key"/>
		<xs:attribute name="page" type="xs:token"/>
	</xs:attributeGroup>
</xs:schema>
