src/schema/emblem-light/src/foreign/mods-3-6.rnc

default namespace = "http://www.loc.gov/mods/v3"
namespace ns1 = "http://www.w3.org/1999/xlink"

start =
  total
  | geographicCode
  | shelfLocator
  | cartographics
  | etal
  | titleInfo
  | descriptionStandard
  | city
  | reformattingQuality
  | electronicLocator
  | recordInfo
  | role
  | affiliation
  | place
  | topic
  | form
  | targetAudience
  | internetMediaType
  | number
  | nameIdentifier
  | languageOfCataloging
  | languageTerm
  | county
  | \start
  | digitalOrigin
  | language
  | region
  | holdingExternal
  | territory
  | subject
  | originInfo
  | tableOfContents
  | recordOrigin
  | dateIssued
  | date
  | publisher
  | title
  | copyrightDate
  | mods
  | note
  | end
  | citySection
  | partName
  | caption
  | recordCreationDate
  | extension
  | classification
  | placeTerm
  | part
  | scriptTerm
  | genre
  | recordIdentifier
  | edition
  | dateModified
  | detail
  | dateOther
  | location
  | typeOfResource
  | holdingSimple
  | enumerationAndChronology
  | subTitle
  | description
  | province
  | displayForm
  | modsCollection
  | hierarchicalGeographic
  | \text
  | occupation
  | cartographicExtension
  | copyInformation
  | extraTerrestrialArea
  | subLocation
  | relatedItem
  | physicalDescription
  | issuance
  | nonSort
  | url
  | itemIdentifier
  | country
  | dateCaptured
  | identifier
  | scale
  | projection
  | state
  | frequency
  | roleTerm
  | recordContentSource
  | island
  | area
  | extent
  | name
  | coordinates
  | dateValid
  | partNumber
  | abstract
  | recordInfoNote
  | geographic
  | recordChangeDate
  | namePart
  | \list
  | accessCondition
  | temporal
  | continent
  | dateCreated
  | physicalLocation
nameIdentifier =
  notAllowed
  | element nameIdentifier { identifierDefinition }
cartographics =
  notAllowed
  | element cartographics {
      authorityAttributeGroup,
      scale?,
      projection?,
      coordinates*,
      cartographicExtension*
    }
scriptTerm =
  notAllowed
  | element scriptTerm {
      attribute type { xsd:string "text" | xsd:string "code" }?,
      anonymous0
    }
url =
  notAllowed
  | element url {
      attribute dateLastAccessed { xsd:string }?,
      attribute displayLabel { xsd:string }?,
      attribute note { xsd:string }?,
      attribute access {
        xsd:string "preview"
        | xsd:string "object in context"
        | xsd:string "raw object"
      }?,
      attribute usage {
        xsd:string "primary" | xsd:string "primary display"
      }?,
      xsd:anyURI
    }
dateCaptured =
  notAllowed
  | element dateCaptured { dateDefinition }
originInfo =
  notAllowed
  | element originInfo {
      attribute eventType { xsd:string }?,
      attribute altRepGroup { xsd:string }?,
      attribute displayLabel { xsd:string }?,
      languageAttributeGroup,
      (place
       | publisher
       | dateIssued
       | dateCreated
       | dateCaptured
       | dateValid
       | dateModified
       | copyrightDate
       | dateOther
       | edition
       | issuance
       | frequency)+
    }
itemIdentifier =
  notAllowed
  | element itemIdentifier {
      attribute type { xsd:string }?,
      anonymous4
    }
territory =
  notAllowed
  | element territory { hierarchicalPart }
authorityAttributeGroup =
  attribute valueURI { xsd:anyURI }?,
  attribute authorityURI { xsd:anyURI }?,
  attribute authority { xsd:string }?
identifierDefinition =
  (attribute displayLabel { xsd:string }?,
   attribute type { xsd:string }?,
   attribute typeURI { xsd:anyURI }?,
   attribute invalid { "yes" }?,
   attribute altRepGroup { xsd:string }?,
   anonymous4),
  empty
place =
  notAllowed
  | element place {
      attribute supplied { "yes" }?,
      placeTerm+
    }
name =
  notAllowed
  | element name {
      attribute type {
        xsd:string "personal"
        | xsd:string "corporate"
        | xsd:string "family"
        | xsd:string "conference"
      }?,
      attribute usage { "primary" }?,
      attribute nameTitleGroup { xsd:string }?,
      attribute altRepGroup { xsd:string }?,
      attribute displayLabel { xsd:string }?,
      languageAttributeGroup,
      simpleLink,
      authorityAttributeGroup,
      attribute ID { xsd:ID }?,
      ((namePart
        | displayForm
        | affiliation
        | role
        | description
        | nameIdentifier)+
       | empty
       | (etal, (affiliation | role | description)*))
    }
subject =
  notAllowed
  | element subject {
      attribute usage { "primary" }?,
      attribute altRepGroup { xsd:string }?,
      attribute displayLabel { xsd:string }?,
      simpleLink,
      languageAttributeGroup,
      authorityAttributeGroup,
      attribute ID { xsd:ID }?,
      (topic
       | geographic
       | temporal
       | element titleInfo {
           attribute type {
             xsd:string "translated"
             | xsd:string "uniform"
             | xsd:string "alternative"
             | xsd:string "abbreviated"
           }?,
           attribute displayLabel { xsd:string }?,
           languageAttributeGroup,
           simpleLink,
           authorityAttributeGroup,
           attribute ID { xsd:ID }?,
           (title | subTitle | partNumber | partName | nonSort)*
         }
       | element name {
           attribute displayLabel { xsd:string }?,
           languageAttributeGroup,
           simpleLink,
           authorityAttributeGroup,
           attribute ID { xsd:ID }?,
           attribute type {
             xsd:string "personal"
             | xsd:string "corporate"
             | xsd:string "family"
             | xsd:string "conference"
           }?,
           (namePart
            | displayForm
            | affiliation
            | role
            | description
            | nameIdentifier)*
         }
       | geographicCode
       | hierarchicalGeographic
       | cartographics
       | occupation
       | genre)*
    }
temporal =
  notAllowed
  | element temporal { authorityAttributeGroup, anonymous2 }
recordContentSource =
  notAllowed
  | element recordContentSource { stringPlusLanguagePlusAuthority }
titleInfo =
  notAllowed
  | element titleInfo {
      attribute displayLabel { xsd:string }?,
      languageAttributeGroup,
      simpleLink,
      authorityAttributeGroup,
      attribute ID { xsd:ID }?,
      attribute usage { "primary" }?,
      attribute nameTitleGroup { xsd:string }?,
      altFormatAttributeGroup,
      attribute altRepGroup { xsd:string }?,
      attribute supplied { "yes" }?,
      attribute otherType { text }?,
      attribute type {
        xsd:string "translated"
        | xsd:string "uniform"
        | xsd:string "alternative"
        | xsd:string "abbreviated"
      }?,
      (title | subTitle | partNumber | partName | nonSort)*
    }
role =
  notAllowed
  | element role { roleTerm+ }
area =
  notAllowed
  | element area {
      attribute areaType { text }?,
      anonymous5
    }
holdingExternal =
  notAllowed
  | element holdingExternal { extensionDefinition }
citySection =
  notAllowed
  | element citySection {
      attribute citySectionType { text }?,
      anonymous5
    }
altFormatAttributeGroup =
  attribute contentType { xsd:string }?,
  attribute altFormat { xsd:anyURI }?
\text =
  notAllowed
  | element text {
      attribute displayLabel { xsd:string }?,
      attribute type { xsd:string }?,
      simpleLink,
      anonymous4
    }
placeTerm =
  notAllowed
  | element placeTerm {
      attribute authorityURI { xsd:anyURI }?,
      attribute valueURI { xsd:anyURI }?,
      attribute authority {
        xsd:string "marccountry"
        | xsd:string "marcgac"
        | xsd:string "iso3166"
      }?,
      attribute type { xsd:string "text" | xsd:string "code" }?,
      anonymous4
    }
roleTerm =
  notAllowed
  | element roleTerm {
      attribute type { xsd:string "text" | xsd:string "code" }?,
      anonymous0
    }
part =
  notAllowed
  | element part {
      attribute altRepGroup { xsd:string }?,
      attribute displayLabel { xsd:string }?,
      languageAttributeGroup,
      attribute order { xsd:integer }?,
      attribute type { xsd:string }?,
      attribute ID { xsd:ID }?,
      (detail
       | element extent {
           attribute unit { xsd:string }?,
           \start?,
           end?,
           total?,
           \list?
         }
       | date
       | \text)*
    }
mods =
  notAllowed
  | element mods {
      attribute version {
        xsd:string "3.0"
        | xsd:string "3.2"
        | xsd:string "3.1"
        | xsd:string "3.4"
        | xsd:string "3.3"
        | xsd:string "3.6"
        | xsd:string "3.5"
      }?,
      attribute ID { xsd:ID }?,
      modsGroup+
    }
languageDefinition =
  (attribute usage { "primary" }?,
   attribute altRepGroup { xsd:string }?,
   attribute displayLabel { xsd:string }?,
   languageAttributeGroup,
   attribute objectPart { xsd:string }?,
   languageTerm+,
   scriptTerm*),
  empty
\start =
  notAllowed
  | element start { stringPlusLanguage }
shelfLocator =
  notAllowed
  | element shelfLocator { stringPlusLanguage }
languageAttributeGroup =
  attribute transliteration { xsd:string }?,
  attribute script { xsd:string }?,
  attribute xml:lang { xsd:language | xsd:string "" }?,
  attribute lang { xsd:string }?
city =
  notAllowed
  | element city { hierarchicalPart }
extension =
  notAllowed
  | element extension { extensionDefinition }
abstract =
  notAllowed
  | element abstract {
      attribute displayLabel { xsd:string }?,
      attribute type { xsd:string }?,
      simpleLink,
      attribute shareable { "no" }?,
      attribute altRepGroup { xsd:string }?,
      altFormatAttributeGroup,
      anonymous4
    }
digitalOrigin =
  notAllowed
  | element digitalOrigin {
      xsd:string "reformatted digital"
      | xsd:string "digitized microfilm"
      | xsd:string "born digital"
      | xsd:string "digitized other analog"
    }
topic =
  notAllowed
  | element topic { stringPlusLanguagePlusAuthority }
country =
  notAllowed
  | element country { hierarchicalPart }
stringPlusLanguagePlusSupplied = anonymous1, empty
detail =
  notAllowed
  | element detail {
      attribute level { xsd:positiveInteger }?,
      attribute type { xsd:string }?,
      (number | caption | title)+
    }
dateModified =
  notAllowed
  | element dateModified { dateDefinition }
hierarchicalGeographic =
  notAllowed
  | element hierarchicalGeographic {
      authorityAttributeGroup,
      (extraTerrestrialArea
       | continent
       | country
       | province
       | region
       | state
       | territory
       | county
       | city
       | citySection
       | island
       | area)+
    }
namePart =
  notAllowed
  | element namePart {
      attribute type {
        xsd:string "termsOfAddress"
        | xsd:string "given"
        | xsd:string "family"
        | xsd:string "date"
      }?,
      anonymous4
    }
publisher =
  notAllowed
  | element publisher { stringPlusLanguagePlusSupplied }
modsCollection =
  notAllowed
  | element modsCollection { mods+ }
continent =
  notAllowed
  | element continent { hierarchicalPart }
tableOfContents =
  notAllowed
  | element tableOfContents {
      attribute displayLabel { xsd:string }?,
      attribute type { xsd:string }?,
      simpleLink,
      attribute shareable { "no" }?,
      attribute altRepGroup { xsd:string }?,
      altFormatAttributeGroup,
      anonymous4
    }
anonymous0 = authorityAttributeGroup, anonymous4
issuance =
  notAllowed
  | element issuance {
      xsd:string "continuing"
      | xsd:string "multipart monograph"
      | xsd:string "monographic"
      | xsd:string "integrating resource"
      | xsd:string "serial"
      | xsd:string "single unit"
    }
anonymous1 =
  attribute supplied { "yes" }?,
  anonymous4
province =
  notAllowed
  | element province { stringPlusLanguage }
genre =
  notAllowed
  | element genre {
      attribute type { xsd:string }?,
      attribute displayLabel { xsd:string }?,
      attribute altRepGroup { xsd:string }?,
      attribute usage { "primary" }?,
      anonymous0
    }
languageOfCataloging =
  notAllowed
  | element languageOfCataloging { languageDefinition }
copyInformation =
  notAllowed
  | element copyInformation {
      form?,
      subLocation*,
      shelfLocator*,
      electronicLocator*,
      element note {
        attribute displayLabel { xsd:string }?,
        attribute type { xsd:string }?,
        simpleLink,
        attribute ID { xsd:ID }?,
        anonymous4
      }*,
      enumerationAndChronology*,
      itemIdentifier*
    }
coordinates =
  notAllowed
  | element coordinates { stringPlusLanguage }
extent =
  notAllowed
  | element extent {
      attribute unit { text }?,
      anonymous1
    }
recordInfo =
  notAllowed
  | element recordInfo {
      attribute altRepGroup { xsd:string }?,
      attribute displayLabel { xsd:string }?,
      languageAttributeGroup,
      (recordContentSource
       | recordCreationDate
       | recordChangeDate
       | recordIdentifier
       | languageOfCataloging
       | recordOrigin
       | descriptionStandard
       | recordInfoNote)+
    }
subTitle =
  notAllowed
  | element subTitle { stringPlusLanguage }
recordChangeDate =
  notAllowed
  | element recordChangeDate { dateDefinition }
occupation =
  notAllowed
  | element occupation { stringPlusLanguagePlusAuthority }
projection =
  notAllowed
  | element projection { stringPlusLanguage }
identifier =
  notAllowed
  | element identifier { identifierDefinition }
title =
  notAllowed
  | element title { stringPlusLanguage }
classification =
  notAllowed
  | element classification {
      attribute edition { xsd:string }?,
      attribute displayLabel { xsd:string }?,
      attribute altRepGroup { xsd:string }?,
      attribute usage { "primary" }?,
      attribute generator { xsd:string }?,
      anonymous0
    }
edition =
  notAllowed
  | element edition { stringPlusLanguagePlusSupplied }
subLocation =
  notAllowed
  | element subLocation { stringPlusLanguage }
description =
  notAllowed
  | element description { stringPlusLanguage }
partNumber =
  notAllowed
  | element partNumber { stringPlusLanguage }
any_lax___any_ =
  element * - (description
               | subTitle
               | modsCollection
               | displayForm
               | province
               | location
               | dateOther
               | detail
               | dateModified
               | edition
               | genre
               | recordIdentifier
               | enumerationAndChronology
               | holdingSimple
               | typeOfResource
               | identifier
               | dateCaptured
               | subLocation
               | copyInformation
               | extraTerrestrialArea
               | cartographicExtension
               | text
               | occupation
               | hierarchicalGeographic
               | itemIdentifier
               | country
               | url
               | nonSort
               | issuance
               | physicalDescription
               | relatedItem
               | name
               | extent
               | area
               | partNumber
               | dateValid
               | coordinates
               | projection
               | scale
               | island
               | recordContentSource
               | roleTerm
               | frequency
               | state
               | temporal
               | accessCondition
               | physicalLocation
               | dateCreated
               | continent
               | recordChangeDate
               | geographic
               | abstract
               | recordInfoNote
               | namePart
               | list
               | recordInfo
               | electronicLocator
               | reformattingQuality
               | place
               | affiliation
               | role
               | geographicCode
               | total
               | city
               | descriptionStandard
               | titleInfo
               | etal
               | cartographics
               | shelfLocator
               | county
               | start
               | languageTerm
               | languageOfCataloging
               | nameIdentifier
               | language
               | digitalOrigin
               | targetAudience
               | internetMediaType
               | form
               | topic
               | number
               | title
               | note
               | end
               | mods
               | copyrightDate
               | originInfo
               | tableOfContents
               | recordOrigin
               | subject
               | territory
               | holdingExternal
               | region
               | publisher
               | date
               | dateIssued
               | classification
               | placeTerm
               | extension
               | scriptTerm
               | part
               | partName
               | citySection
               | recordCreationDate
               | caption) {
    mixed {
      (attribute * { text }
       | any_lax___any_)*
    }
  }
  | total
  | geographicCode
  | shelfLocator
  | cartographics
  | etal
  | titleInfo
  | descriptionStandard
  | city
  | reformattingQuality
  | electronicLocator
  | recordInfo
  | role
  | affiliation
  | place
  | topic
  | form
  | targetAudience
  | internetMediaType
  | number
  | nameIdentifier
  | languageOfCataloging
  | languageTerm
  | county
  | \start
  | digitalOrigin
  | language
  | region
  | holdingExternal
  | territory
  | subject
  | originInfo
  | tableOfContents
  | recordOrigin
  | dateIssued
  | date
  | publisher
  | title
  | copyrightDate
  | mods
  | note
  | end
  | citySection
  | partName
  | caption
  | recordCreationDate
  | extension
  | classification
  | placeTerm
  | part
  | scriptTerm
  | genre
  | recordIdentifier
  | edition
  | dateModified
  | detail
  | dateOther
  | location
  | typeOfResource
  | holdingSimple
  | enumerationAndChronology
  | subTitle
  | description
  | province
  | displayForm
  | modsCollection
  | hierarchicalGeographic
  | \text
  | occupation
  | cartographicExtension
  | copyInformation
  | extraTerrestrialArea
  | subLocation
  | relatedItem
  | physicalDescription
  | issuance
  | nonSort
  | url
  | itemIdentifier
  | country
  | dateCaptured
  | identifier
  | scale
  | projection
  | state
  | frequency
  | roleTerm
  | recordContentSource
  | island
  | area
  | extent
  | name
  | coordinates
  | dateValid
  | partNumber
  | abstract
  | recordInfoNote
  | geographic
  | recordChangeDate
  | namePart
  | \list
  | accessCondition
  | temporal
  | continent
  | dateCreated
  | physicalLocation
cartographicExtension =
  notAllowed
  | element cartographicExtension { extensionDefinition }
recordInfoNote =
  notAllowed
  | element recordInfoNote { noteDefinition }
nonSort =
  notAllowed
  | element nonSort {
      attribute xml:space {
        xsd:NCName "default" | xsd:NCName "preserve"
      }?,
      anonymous4
    }
physicalLocation =
  notAllowed
  | element physicalLocation {
      simpleLink,
      attribute displayLabel { xsd:string }?,
      attribute type { xsd:string }?,
      anonymous0
    }
extraTerrestrialArea =
  notAllowed
  | element extraTerrestrialArea { hierarchicalPart }
dateIssued =
  notAllowed
  | element dateIssued { dateDefinition }
targetAudience =
  notAllowed
  | element targetAudience {
      attribute displayLabel { xsd:string }?,
      attribute altRepGroup { xsd:string }?,
      anonymous0
    }
simpleLink =
  attribute ns1:actuate {
    xsd:string "other"
    | xsd:string "onLoad"
    | xsd:string "onRequest"
    | xsd:string "none"
  }?,
  attribute ns1:show {
    xsd:string "replace"
    | xsd:string "new"
    | xsd:string "other"
    | xsd:string "none"
    | xsd:string "embed"
  }?,
  attribute ns1:title { xsd:string }?,
  attribute ns1:arcrole { xsd:string }?,
  attribute ns1:role { xsd:string }?,
  attribute ns1:href { xsd:anyURI }?,
  attribute ns1:type { xsd:string "simple" }?
frequency =
  notAllowed
  | element frequency { stringPlusLanguagePlusAuthority }
total =
  notAllowed
  | element total { xsd:positiveInteger }
geographicCode =
  notAllowed
  | element geographicCode {
      attribute authorityURI { xsd:anyURI }?,
      attribute valueURI { xsd:anyURI }?,
      attribute authority {
        xsd:string "marccountry"
        | xsd:string "marcgac"
        | xsd:string "iso3166"
      }?,
      anonymous4
    }
dateDefinition = anonymous2, empty
stringPlusLanguagePlusAuthority = anonymous0, empty
state =
  notAllowed
  | element state { hierarchicalPart }
descriptionStandard =
  notAllowed
  | element descriptionStandard { stringPlusLanguagePlusAuthority }
region =
  notAllowed
  | element region {
      attribute regionType { text }?,
      anonymous5
    }
internetMediaType =
  notAllowed
  | element internetMediaType { stringPlusLanguage }
\list =
  notAllowed
  | element list { stringPlusLanguage }
number =
  notAllowed
  | element number { stringPlusLanguage }
anonymous2 =
  attribute encoding {
    xsd:string "marc"
    | xsd:string "edtf"
    | xsd:string "w3cdtf"
    | xsd:string "iso8601"
    | xsd:string "temper"
  }?,
  attribute qualifier {
    xsd:string "questionable"
    | xsd:string "approximate"
    | xsd:string "inferred"
  }?,
  attribute point { xsd:string "start" | xsd:string "end" }?,
  attribute keyDate { "yes" }?,
  anonymous4
copyrightDate =
  notAllowed
  | element copyrightDate { dateDefinition }
anonymous3 =
  mixed {
    attribute displayLabel { xsd:string }?,
    any_lax___any_*
  }
county =
  notAllowed
  | element county { hierarchicalPart }
languageTerm =
  notAllowed
  | element languageTerm {
      attribute authorityURI { xsd:anyURI }?,
      attribute valueURI { xsd:anyURI }?,
      attribute authority {
        xsd:string "rfc5646"
        | xsd:string "iso639-3"
        | xsd:string "iso639-2b"
        | xsd:string "rfc3066"
        | xsd:string "rfc4646"
      }?,
      attribute type { xsd:string "text" | xsd:string "code" }?,
      anonymous4
    }
electronicLocator =
  notAllowed
  | element electronicLocator { stringPlusLanguage }
end =
  notAllowed
  | element end { stringPlusLanguage }
stringPlusLanguage = anonymous4, empty
island =
  notAllowed
  | element island { hierarchicalPart }
geographic =
  notAllowed
  | element geographic { stringPlusLanguagePlusAuthority }
location =
  notAllowed
  | element location {
      attribute altRepGroup { xsd:string }?,
      attribute displayLabel { xsd:string }?,
      languageAttributeGroup,
      physicalLocation*,
      shelfLocator*,
      url*,
      holdingSimple?,
      holdingExternal?
    }
recordIdentifier =
  notAllowed
  | element recordIdentifier {
      attribute source { xsd:string }?,
      anonymous4
    }
caption =
  notAllowed
  | element caption { stringPlusLanguage }
enumerationAndChronology =
  notAllowed
  | element enumerationAndChronology {
      attribute unitType {
        xsd:string "3" | xsd:string "2" | xsd:string "1"
      }?,
      anonymous4
    }
modsGroup =
  abstract
  | accessCondition
  | classification
  | extension
  | genre
  | identifier
  | language
  | location
  | name
  | note
  | originInfo
  | part
  | physicalDescription
  | recordInfo
  | relatedItem
  | subject
  | tableOfContents
  | targetAudience
  | titleInfo
  | typeOfResource
anonymous4 = languageAttributeGroup, xsd:string
dateValid =
  notAllowed
  | element dateValid { dateDefinition }
noteDefinition =
  (attribute displayLabel { xsd:string }?,
   attribute type { xsd:string }?,
   attribute typeURI { xsd:anyURI }?,
   simpleLink,
   attribute ID { xsd:ID }?,
   attribute altRepGroup { xsd:string }?,
   anonymous4),
  empty
extensionDefinition = anonymous3, empty
partName =
  notAllowed
  | element partName { stringPlusLanguage }
recordCreationDate =
  notAllowed
  | element recordCreationDate { dateDefinition }
relatedItem =
  notAllowed
  | element relatedItem {
      simpleLink,
      attribute ID { xsd:ID }?,
      attribute displayLabel { xsd:string }?,
      attribute otherTypeURI { xsd:string }?,
      attribute otherTypeAuthURI { xsd:string }?,
      attribute otherTypeAuth { xsd:string }?,
      attribute otherType { xsd:string }?,
      attribute type {
        xsd:string "series"
        | xsd:string "references"
        | xsd:string "otherFormat"
        | xsd:string "host"
        | xsd:string "succeeding"
        | xsd:string "constituent"
        | xsd:string "original"
        | xsd:string "preceding"
        | xsd:string "isReferencedBy"
        | xsd:string "otherVersion"
        | xsd:string "reviewOf"
      }?,
      modsGroup*
    }
language =
  notAllowed
  | element language { languageDefinition }
dateOther =
  notAllowed
  | element dateOther {
      attribute type { xsd:string }?,
      anonymous2
    }
physicalDescription =
  notAllowed
  | element physicalDescription {
      attribute altRepGroup { xsd:string }?,
      attribute displayLabel { xsd:string }?,
      languageAttributeGroup,
      (form
       | reformattingQuality
       | internetMediaType
       | extent
       | digitalOrigin
       | element note {
           attribute displayLabel { xsd:string }?,
           attribute type { xsd:string }?,
           attribute typeURI { xsd:anyURI }?,
           simpleLink,
           attribute ID { xsd:ID }?,
           anonymous4
         })+
    }
affiliation =
  notAllowed
  | element affiliation { stringPlusLanguage }
accessCondition =
  notAllowed
  | element accessCondition {
     anonymous3,
     simpleLink,
     languageAttributeGroup,
     attribute type { xsd:string }?,
     attribute altRepGroup { xsd:string }?,
     altFormatAttributeGroup
    }
hierarchicalPart = anonymous5, empty
note =
  notAllowed
  | element note { noteDefinition }
dateCreated =
  notAllowed
  | element dateCreated { dateDefinition }
date =
  notAllowed
  | element date { dateDefinition }
typeOfResource =
  notAllowed
  | element typeOfResource {
      attribute collection { "yes" }?,
      attribute manuscript { "yes" }?,
      attribute displayLabel { xsd:string }?,
      attribute altRepGroup { xsd:string }?,
      attribute usage { "primary" }?,
      (xsd:string ""
       | xsd:string "text"
       | xsd:string "still image"
       | xsd:string "cartographic"
       | xsd:string "three dimensional object"
       | xsd:string "sound recording-nonmusical"
       | xsd:string "sound recording"
       | xsd:string "sound recording-musical"
       | xsd:string "notated music"
       | xsd:string "software, multimedia"
       | xsd:string "mixed material"
       | xsd:string "moving image")
    }
holdingSimple =
  notAllowed
  | element holdingSimple { copyInformation+ }
recordOrigin =
  notAllowed
  | element recordOrigin { stringPlusLanguage }
form =
  notAllowed
  | element form {
      attribute type { xsd:string }?,
      anonymous0
    }
reformattingQuality =
  notAllowed
  | element reformattingQuality {
      xsd:string "replacement"
      | xsd:string "access"
      | xsd:string "preservation"
    }
scale =
  notAllowed
  | element scale { stringPlusLanguage }
anonymous5 =
  attribute level { text }?,
  attribute period { text }?,
  authorityAttributeGroup,
  anonymous4
etal =
  notAllowed
  | element etal { stringPlusLanguage }
displayForm =
  notAllowed
  | element displayForm { stringPlusLanguage }
